<!DOCTYPE html>
<html>
<head>
<style>
#chat {
    width: 25%;
    height: 25%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
#info {
    float: right;
    margin-right: 10px;
    margin-top: 10px
}
#bot_text {
    text-align: right;
    float: right;
    width: 50%
}
#user_text {
    text-align: left;
    width: 50%
}
</style>
<title>Jakes' Chat Bot</title>
</head>
<body>
<div id="info">
{{ time }}<br>
<hr>
{{ user_status|safe  }}
</div>
<div id="chat">
<form action="/chat_bot/chat" method="post">
input: <input type="text" name="chat_input" autofocus><input type="submit"><br>
</form>
<p>{{ check }}</p>
<!-- <div id="bot_text"> -->
{# {{ chat_output|safe }} #}
<!-- </div> -->
<!-- <div id="user_text"> -->
{# {{ chat_input|safe }} #}
{% for item in chat %}
    <div width=100%><p>{{ item }}</p></div>
{% endfor %}
</div>
<p>{{ blob }}</p>
</div>
</body>
</html>
